.section {
 color: var(--gray-100);
 height: 100%;
}

.msgError {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // align-content: space-between;
}

.sectionName {
  font-weight: 700;
  font-style: normal;
  font-size: 1.313rem;
  line-height: 100%;
  position: sticky;
  margin-top: 2rem;
  margin-left: 2rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 4rem;

  .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 1.5rem;
    border: none;
    background: var(--background);
    color: var(--gray-100);
  }
  .photo {
    align-content: center;
    padding: 2px;
    border: 4px solid var(  --secondary-07);
    width: 6.875rem;
    height: 6.875rem;
  }
  .bodyStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .name {
    align-self: center;
    margin: 1rem 0 1rem 0;
    font-size: 1.313rem;
  }
  .title {
    font-size: 0.875rem;
  }
  .text,
  .button {
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }
  .button {
    background-color: var(--primary-05);
    color: var(--black);
    border: none;
    border-radius: 10rem;
    width: 13.313rem;
    height: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button:hover {
    color: var(--black);
    background: var(--primary-01);
  }
  .button:active {
    color: var(--white);
    background: var(--primary-07);
  }
  .button:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}
