.pageContainer {
    display: flex;
    padding: 2rem;
    gap: 3rem;
    justify-content: center;
    height: 90vh;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contentContainer {
    border: 3px solid black;
}

.userContainer {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.photo {
    padding: 2px;
    background: linear-gradient(100deg, #ff008e 0%, #ffcd1e 100%);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}
}