* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --white: #FFFFFF;
  --black: #000000;

  --gray-100: #F8F9FA;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-700: #495057;
  --gray-800: #343A40;

  --primary-01: #FE4400;
  --primary-05: #FE662E;
  --primary-06: #FE885C;
  --primary-07: #B93200;

  --secondary-03: #36357E;
  --secondary-04: #5251A2;
  --secondary-07: #A8A8D0;

  --background: #191C1F;
  --background2: #292D31;
  --text-light: #E3E9EF;
  --text-dark: #141619;
  --text-secondary: #41464B;
}

body {
  background: var(--gray-800);
}