.header {
   background-color: rgb(254, 68, 0);
   color: rgb(255, 255, 255);
}


#responsive-navbar-nav {
   cursor: pointer;
   height: 100%;
}


.inputBox{
   height: 25px;
   width: 400px;
   border: 0;
   border-radius: 4px;
   margin-right: 50px;
}

.photo {
   padding: 2px;
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
}