.header {
   background-color: rgb(254, 68, 0);
   color: rgb(255, 255, 255);
   // padding: 15px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

#responsive-navbar-nav {

   cursor: pointer;
   height: 100%;
}


.inputBox{
   height: 25px;
   width: 200px;
   border: 0;
   border-radius: 4px;
}

.photo {
   padding: 2px;
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
}